manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
//      revision: main
      revision: 2ee76be6fee671042d9740ac0271eb69e2558165
      import: app/west.yml
  self:
    path: config
