manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: ad7fbfef920d9907ca8f143e273fa9eb7d84b25a
      import: app/west.yml
  self:
    path: config
