manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 40e06f3c0084751f7ae012a71d92d5801ac3b7a0
      import: app/west.yml
  self:
    path: config
